/*Style for container,body,rows,cols for differents views platforms*/

html,
body {
    background-color: #006773;
    overflow-x: hidden;
}

.container-fluid {
    background-color: #006773;
}

.link {
    color: rgb(75, 228, 255) !important;
}

.test-bg {
    background-color: #FED766 !important;
}

.component-bg {
    background-color: #005A67;
    box-shadow: 0 0 0 0.2rem rgba(0, 89, 103, 0.185);
}

.active {
    border-bottom: 1px solid #009FB7 !important;
}

.title {
    color: #FED766 !important;
}

.navbar-bg {
    background-color: #114B5F !important;

}

.nav-brand {
    font-size: 1.4rem;
}

.text-color {
    color : rgba(237, 238, 231, 0.69) !important;
}

.text-title{
    color : rgba(237, 238, 231, 0.856) !important;
}

.footer {
    margin-top: 100px;
}

.footer-line {
    border-top: 1.5px solid #FED766;
}

.custom-mb {
    margin-bottom: 7px;
}

.fas {
    font-size: 4rem;
}

.card-body {
    padding: 0.5rem;
    font-size: 1.6rem;
}

.card-title {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
}


/*Form styles : Login and Sign up */

@import url(https://fonts.googleapis.com/css?family=Roboto:300);


.login-container {
    width: 100%;
    height: 60vh;
    padding: 10px;
    margin-top: 55px;
}

.login-form, .register-form {
    max-width: 100%;
    width: 370px;
    padding: 15px;
    margin-top: 200px;
}

.register-form {
    display: none;
}

.login-form {
    display: block;
}

.form-control {
    font-size: 15px;
    min-height: 48px;
    font-weight: 500;
    background-color : rgba(17, 76, 95, 0.5);
    color : #ebece1;
    border: 1px solid #028090;
}

.form-control:focus {
    border-color: #114B5F;
    box-shadow: 0 0 0 0.2rem rgba(17, 75, 95, 0.25);
}

.forgot-link {
    font-size: 13px;
}

.btn-custom {
    background-color: #115c56;
    box-shadow: 0 0 0 0.2rem rgb(17, 92, 86,0.25);
    color: #ebece1;
    margin: auto;
}

.btn-custom:focus,
.btn-custom:hover,
.btn-custom:active {
    background-color: #0a554d;
    color: #ebece1;
    box-shadow: 0 0 0 0.2rem rgb(21, 100, 92, 0.25);
}

/*Search form in home-connected*/

.search {
    min-height: 38px;
}

.fa-search {
    font-size: 20px;
    color: #b9f022;
}

.custom-btn-search {
    background-color: none !important;
    float: right;
    position: absolute;
    margin-left: -55px;
    margin-top: -5px;
}

.custom-btn-search:focus,
.custom-btn-search:hover,
.custom-btn-search:active,
.custom-btn-search:target {
    border: 1px solid #114B5F;
    text-decoration: none;
}

.custom-avatar {
    width: 36px;
    height: 36px;
}

/* Side navigation bar */

.wrapper {
    margin-top: 3.4rem;
}

.wrapper .sideMenu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin: 3.4rem auto auto;
    width: 13rem;
    transition: all ease 0.5s;
    transform: translateX(-100%);
    z-index: 2000;
}

 .show-side {
     transform: translateX(0) !important;
 }


.wrapper .page-content {
    width: 100%;
    margin-left: 0rem;
    transition: all ease 0.5s;
}

.wrapper.active .sideMenu {
    transform: translateX(0);
}

.nav-item:hover,
.nav-item:focus,
.nav-item:active {
    background-color: rgba(0, 89, 103, 0.479);
}

.nav-link {
    align-items: center;
    display: block;
    white-space: nowrap;
    border-top: 1px solid rgba(0, 159, 183, 0.26);
}

.custom-border-bottom {
    border-bottom: 1px solid rgba(0, 159, 183, 0.26);
}

.custom-border {
    border: 1px solid rgba(0, 159, 183, 0.26);
}

.nav-link .fa {
    margin-right: 0.25rem;
    font-size: 1.875rem;
    vertical-align: middle;
    height:1.5rem;
    width: 3rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.nav-link .text {
    font-size: 0.875rem;
}

@media (min-width: 768px){
    .wrapper .sideMenu{
        transform: translateX(0);
    }

    .wrapper .page-content{
        margin-left: 12.5rem;
    }

    .wrapper.active .sideMenu {
        width: 5rem;
    }

    .wrapper.active .sideMenu .nav-link {
        text-align: center;
    }

    .wrapper.active .sideMenu .nav-link .fa {
        margin-right: 0;
    }

    .wrapper.active .sideMenu .nav-link .text {
        display: block;
    }

    .wrapper.active .page-content {
        margin-left: 5rem;
    }
}